<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="husband" class="test5.Husband">-->
<!--        <property name="wife" ref="wife"/>-->
<!--    </bean>-->

    <bean id="wife" class="test5.Wife">
<!--        <property name="husband" ref="husband"/>-->
        <property name="mother" ref="husbandMother"/>
    </bean>

    <bean id="husbandMother" class="test5.HusbandMother"/>

    <!-- AOP 配置，验证三级缓存 -->
    <bean class="aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="test5.SpouseAdvice"/>

    <bean id="methodInterceptor" class="aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* test5.Wife.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>